.App {
  text-align: center;
  overflow-y: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  background-color: purple;
  height: 6em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
   color: white;
   
} 

.title-container {
  display: flex;
  margin-top: 0.3em;
  justify-content: center;
  width: 50%;
  font-size: 1.6em; 
}

.saved-locations-container {
  display: flex;
  padding-top: 4%;
  width: 25%;
  font-size: 0.8em;
}

.saved-locations {
  color: white;
  font-size: 1.9em;
  font-weight: 400;
}

.home-container {
  width: 25%;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  color: white;
  font-size: 1.6em;
  font-weight: 400;
  
}

.saved-locations:hover {
  cursor: pointer;
  text-decoration: underline;
} 

.dumbo-image {
  clip-path: polygon(0 11%, 100% 11%, 100% 65%, 0% 65%);
  margin-top: -6.36%;
  width: 100vw;
}

@media screen and (max-width: 1023px) {

  .title-container {
  display: flex;
  margin-top: 0.3em;
  justify-content: center;
  width: 50%;
  font-size: 1em; 
}

.home-container {
  width: 25%;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  color: white;
  font-size: 1em;
  font-weight: 400;
}

.saved-locations-container {
  display: flex;
  padding-top: 5%;
  width: 25%;
  font-size: 0.4em;
}

.App {
  text-align: center;
  overflow: hidden;
}
}










