.App {
  text-align: center;
  overflow-y: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  background-color: purple;
  height: 6em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
   color: white;
} 

.title-container {
  display: flex;
  margin-top: 0.3em;
  justify-content: flex-end;
  width: 60%;
  font-size: 1.6em;
}

.saved-locations-container {
  padding-left: 16%;
  padding-top: 3.5%;
  width: 20%;
  font-size: 0.8em;
}

.saved-locations:hover {
  cursor: pointer;
  text-decoration: underline;
} 

.dumbo-image {
  clip-path: polygon(0 11%, 100% 11%, 100% 65%, 0% 65%);
  margin-top: -6.36%;
  width: 100vw;
}








