.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 7em;
  border-radius: 1.5em;
  padding: 10px;
  width: 370px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.address:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .card {
    width: 25em;
  }
}