.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 7em;
  border-radius: 1.5em;
  padding: 10px;
  width: 370px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* .locations-container {
  outline: 2px solid black;
} */

.address:hover {
  cursor: pointer;
  text-decoration: underline;
}