.header {
  display: flex;
  background-color: purple;
  height: 6em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
   color: white;
} 

.title-container {
  display: flex;
  margin-top: 0.3em;
  justify-content: flex-end;
  width: 60%;
  font-size: 1.6em;
}

.saved-locations-container {
  padding-left: 16%;
  padding-top: 3.5%;
  width: 20%;
  font-size: 0.8em;
}

.saved-locations:hover {
  cursor: pointer;
  text-decoration: underline;
} 
