.location-details-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.location-details-card {
  border: 2px solid black;
  width: 55%;
  height: 15em;
  line-height: 1.5em;
}

.save-location-button {
  font-size:  1.2em;
  color: white;
  background-color: purple;
  height: 2em;
  width: 12em;
  border: 0;
  border-radius: 1em;
  font-weight: 600;
}