.locations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20%;
}

.locations-title {
  font-size: 1.8em;
  margin-bottom: .1em;
}

.card-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5em;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

@media screen and (min-width: 1024px) {

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1023px) {

  .card-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }

  .card {
    font-size: 0.6em;

  }
}

